.backgroundDashboard {
    background-image: url('../assets/img/fondomorado.jpg');
    background-size: cover;
}


.headerDashboard{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.34);
    border-radius: 66px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    border: 1px solid rgba(255, 255, 255, 0.46);
}