.backgroundList{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.8px);
-webkit-backdrop-filter: blur(15.8px);
border: 1px solid rgba(255, 255, 255, 0.46);
overflow-y: scroll;
height: 32rem;
}

.backgroundList::-webkit-scrollbar {
  width: 10px; /* ancho del scroll vertical */
}

.backgroundList::-webkit-scrollbar-track {
  background: rgba(255, 144, 246, 0.282); 
  border-radius: 16px;
}

.backgroundList::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.2); /* borde para efecto 'elevado' */
}

.backgroundList::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* En dispositivos móviles */
@media (max-width: 768px) {
  .backgroundList {
    height: auto;
    overflow-y: visible;
  }
}